
body{
  font-family:Georgia, 'Times New Roman', Times, serif

}

p{
  color:#964B00;
  text-align: center;
  line-height: 30px;
}
h1{
  text-align: center;
  color:#ff0000;
  text-decoration:underline
}
h3{
  color:black;
}
a{
  color:rgb(0,255,0);
  text-decoration:none;
}
button{
  color:blueviolet;
  background-color: white;;
}
textarea{
  color:#000000;
}