div{
 display:inline-block;
}
.card{
  height:250px;
  width:200px;
  border: 2px solid black;
  margin:10px;
  border-radius: 11px;
  box-shadow: 2px 2px 6px black;
  transition:1s;
}
.desk{
  padding: 0 2px 0 2px;
}
img{
  width:100%;
  height: 60%;
  border-radius: 8px 8px 0 0;
}
.card:hover{
  box-shadow: 0px 2px 16px black;
}