h1{
  font-family:league spartan;
  text-align: center;
  color:#ffa511;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.5;
  text-decoration: teal double underline;
  text-transform: uppercase;
}
h2{
  text-align: right;
  width: 70%;
  color:yellow;
}
h4{
  text-decoration: underline;
}
p{
  font-size: 15px;
}