.container{
  height:500px;
  width:800px;
  background-color: antiquewhite;
  margin:10px auto;
  border:2px solid black;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap:wrap ;
  align-content: flex-end;

}
#org{
  align-self: baseline;
  /* flex-grow: 1; */
  flex-shrink: 1;
  /* flex-basis: 20px; */
}
.container div{
  height: 100px;
  width:250px;
  color:white;
  text-align: center;
  font-size: 1.5em;
}