.container{
  height: 300px;
  width: 600px;
  background-color: lightblue;
  border: 2px solid black;
  display: grid;
}
.item{
  height:50px;
  width: 100px;
  background-color: aqua;
   border: 2px solid black;
   text-align: center;
}