.container{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: pink;
  display: grid;
  grid-template-rows: repeat(12,1fr);
  grid-gap:10px;
  grid-template-columns: repeat(12,1fr);
}
.header{
  grid-column: 1/span 12;;
}