div{
  height:50px;
  width:200px;
  background-color: rgba(2, 206, 30, 0.7);
transition:margin-top 2s ease-in 0.4s;
  margin: 0 auto;
  box-shadow: 2px 2px 8px black;
  border-radius: 3px;
}

div:hover{
 
  margin-top: 200px;
}