.card{
  width:400px;
  border:2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}
h2{
  color:#d56f3e;
}
img{
  width: 100%;
  border-radius: 25px;
}
#pets{
  display:flex;
}
span{
  color:brown;
}
h4{
  color:blue;
  text-align: right;
}
@media(max-width:375px){
  #pets{
    flex-wrap: wrap;
  }
}
@media(max-width:414px){
  #pets{
    flex-wrap: wrap;
  }
}
@media(max-width:430px){
  #pets{
    flex-wrap: wrap;
  }
}