*{
  text-align: center;
  font-family: Georgia;
}
#mainTopic{
  background-color: blue;
}
p{
  color:white;
  background-color: cornflowerblue;
}
div button{
  background-color: purple;
  color:azure
}
button:hover{
  background-color: yellow;
  color:blue;
}
p:nth-of-type(2n-1){
color:yellow;
}
h1::first-letter{
  color:red;
}
input[type="checkbox"]:checked {
  accent-color: darkgreen;
}