<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hope Page</title>
</head>
<body>
  <h1>This is a home page</h1>
  <h3><%="sujan dumre".toUpperCase()%></h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vero excepturi qui impedit consequatur dolor quos? Vel temporibus laboriosam dolore. Officia repudiandae perspiciatis eveniet nobis nulla. Quas similique optio enim?</p>
  <button>Click Me!</button>
</body>
</html>