body {
  background-color: lightblue;
  margin:20px;
}

.chat {
  /* margin-bottom: 20px; */
  padding: 20px;
  background: white;
  border-radius: 10px;
  display:inline-block;
}
.message{
  background-color: dodgerblue;
  color: white;
  padding:5px 15px;
  border-radius: 20px;
}